@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  #root {
    @apply h-fit relative;
  }

  nav {
    @apply flex justify-between justify-center p-4;
  }

  footer {
    @apply m-0 px-14;
  }
}

@layer components {
  .header-logo {
    @apply flex w-5/12 align-middle;
  }

  .header-logo img {
    width: 2rem;
    height: 2rem;
  }

  .header-logo-title {
    @apply text-xl font-bold text-gray-800 py-1 ml-1;
  }

  .header-account {
    @apply flex align-middle;
  }

  .header-account-left {
    @apply flex align-middle mx-2;
  }

  .currency {
    @apply p-1.5 font-semibold text-gray-500;
  }

  .banner {
    @apply p-32 h-fit;
  }

  .main-home {
    height: 2000px;
  }
}
